html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #C0C0C0; /* Silver background for the whole page */
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Hide the h1 title as the canvas is now fullscreen */
h1 {
    display: none;
}
